<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item *ngFor="let place of places">
      <ion-thumbnail slot="start">
        <ion-img [src]="place.image"></ion-img>
      </ion-thumbnail>
      <ion-label class="normal"> {{ place.name }}</ion-label>
      <ion-buttons id="open-modal" slot="end">
        <ion-button (click)="deleteItem(place)">
          <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div style="text-align: end; margin: 10px">
      <ion-button expand="block" color="primary" (click)="newItem()">
        Nuevo
      </ion-button>
    </div>
  </div>
</ion-content>
