<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p>Nombre: {{user?.userName}}</p>
      <p>Rol: {{user?.userRol}}</p>
      <p>Email: {{user?.userEmail}}</p>
      <p>Teléfono: {{user?.userPhone}}</p>
      <p>Registro: {{user?.createAt | date}}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" shape="round" (click)="editProfile()">Editar Perfil</ion-button>

</ion-content>
